.profile-box {
    border: 1px solid purple;
    border-radius: 7px;
    display: flex;
    padding: 12px 10px;;
    margin: auto;
    max-width: 800px;
    align-items: center;
    text-align: left;
}
.profile-box-name-div {
    font-family: HK Grotesk;
    font-weight: bold;
    width: 50%;
    margin-left: 20px;
}
#profile-box-name {
    font-size: 2.3em;
    line-height: 10px;
}
.profile-nav-box {
    border: 1px solid rgba(182, 147, 255, 1);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    width: 400px;
    gap: 0px;
}
.profile-nav-box-left, .profile-nav-box-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.profile-nav-link {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(15, 0, 47);
    text-decoration: none;
    padding: 10px;
    align-items: center;
    display: flex;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
}
.profile-nav-link:hover {
    color: rgb(43, 10, 113);
    background-color: #F8E3FF;
}
.profile-nav-img {
    height: 20px;
    padding-right: 10px;
}
#sign-out {
    margin: 10px 10px;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
}
#sign-out:hover {
    background-color: #ffe2e8;
}
.profile-details-change-btn {
    background-color: white;
    border-radius: 7px;
    border: 2px solid rgba(162, 35, 157, 1);
    font-family: 'HK GROTESK';
    font-size: 1.2em;
    padding: 8px 15px;
    margin: 20px;
    font-weight: bold;
}
.profile-details-change-btn:hover {
    background-color: #F8E3FF;
}
