.arrow-btn {
  padding: 10px;
  text-align: left;
  background-color: transparent;
  border: none;
  font-size: 1.4em;
  font-family: HK Grotesk;
  font-weight: bold;
  cursor: pointer;
}
.arrow-btn:hover {
  color: purple;
}
@media only screen and (min-width: 480px) {
  .arrow-btn::before {
    content: "";
    margin: auto;
    margin-right: -15px;
    height: 20px;
    margin-top: -30px;
    top: 35px;
    display: block;
    position: relative;
    z-index: -1;
    background-color: #E3DBFF;
  }
}

/* MISC */
.cta-link {
  display: block;
  background: rgba(118, 0, 246, 0.453);
  color: white;
  font-size: 1.2em;
  font-family: HK Grotesk;
  width: fit-content;
  margin: 40px auto 30px auto;
  padding: 5px 15px;
  transition: 0.7s ease-in-out;
  border-top-right-radius: 18px;
  border: none;
}
.cta-link:hover {
  background: rgb(149, 0, 255);
  color: pink;
}

/* ACCORDION STYLES */
.accordion {
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 0 10px;
  width: 100%;
  text-align: left;
  font-size: 1.3em;
  font-family: HK Grotesk;
  transition: 0.4s;
  font-weight: bold;
}
.accordion:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  width: 20px;
  height: auto;
  margin-left: 0px;
}
.active:after {
  content: "\2212";
}
.panel {
  padding: 0 15px 0 10px;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}
.panel-active {
  border-bottom: 2px solid rgb(155, 105, 205);
}
@media only screen and (min-width: 480px) {
  .accordion::before {
    content: "";
    margin: auto;
    margin-right: -15px;
    height: 20px;
    margin-top: -30px;
    top: 35px;
    display: block;
    position: relative;
    z-index: -1;
    background-color: paleturquoise;
    opacity: 0.5;
  }
}
/* SUB-NAV STYLES */
.sub-nav-menu {
  position: absolute;
  right: 0;
  margin: 5px 20px;
  padding: 5px;
  display: none;
  border: 2px solid black;
  border-radius: 5px;
}
.profile-nav-active {
  border: 2px solid black;
  border-radius: 4px;
  margin-right: -4px;
  margin-top: -4px;
}
.menu-active {
  display: block;
  text-align: right;
}
#main-nav-profile-img {
  height: 20px;
  margin: 0 5px;
  border: none !important;
}
#sub-nav-sign-out {
  margin-top: 4px;
  padding: 8px 10px 8px 10px;
  transition: 0.3s ease-in-out;
}
#sub-nav-sign-out:hover {
  background-color: #ffe2e8;
}
.sub-nav-menu-div {
  font-family: HK Grotesk;
  font-weight: bold;
  color: rgb(15, 0, 47);
  text-decoration: none;
  padding: 10px;
  display: flex;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}
.sub-nav-menu-div:hover {
  color: rgb(43, 10, 113);
  background-color: #F8E3FF;
}