/* LINK STYLES (GENERAL) */
.link,
a {
  text-decoration: none;
  color: rgb(53, 53, 216);
}
.link:hover,
a:hover {
  color: rgb(73, 17, 126);
}
.link:active,
a:active {
  color: rgba(255, 0, 34, 0.842);
}
.nav-link {
  font-size: 1em;
  font-family: HK Grotesk;
  font-weight: normal;
  color: black;
}
/* NAVBAR POSITIONING */
#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0;
  background-color: white;
  color: rgb(39, 0, 110);
  padding: 10px 25px;
}
.nav-item {
  margin: 0 5px;
}
.nav-right {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}
.sign-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
