.warning {
  background-color: rgb(255, 240, 230, 0.9);
  max-width: max-content;
  padding: 10px 20px;
  margin-top: -4px;
  margin-bottom: 30px;
  box-shadow: 0 0.2em 1em 0px rgb(214 170 226 / 70%);
}
.warning-icon {
  width: 20px;
  padding-right: 20px;
  position: relative;
  top: 4px;
}

/* FORMS in /add and /create */
#form-message {
  display: block;
  padding: 10px 20px;
  opacity: 0.8;
  width: max-content;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  font-family: HK Grotesk;
  font-size: 1.5em;
  font-weight: bold;
}
.msg-error {
  background-color: rgb(255, 50, 50);
  color: white;
}
.msg-successful {
  background-color: rgba(80, 255, 120, 0.9);
  color: rgb(38, 0, 66);
}
.form-small-input-div {
  display: flex;
  flex-direction: column;
}
.add-form {
  background-color: white;
  margin: 40px;
  padding: 30px 10px 20px 10px;
  border-radius: 15px;
  box-shadow: 0 0 2em 0 rgba(188, 0, 226, 0.253);
}
.form-label {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.form-input {
  padding: 7px;
  max-width: 400px;
  border: 1px solid rgb(228, 228, 228);
  transition: 0.2s linear;
  font-size: medium;
}
.form-select {
  padding: 7px;
  border: 1px solid rgb(228, 228, 228);
  font-size: medium;
  margin: auto;
}
.form-input:focus-visible {
  background-color: lightyellow;
  outline: 2px solid rgb(89, 0, 255, 0.7);
  border-radius: 12px;
}
/* Tablet */
@media only screen and (min-width: 480px) {
  .add-form {
    padding: 30px 20px 20px 20px;
  }
  .form-label {
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    text-align: right;
  }
  .form-input {
    margin-top: -9px;
    margin-left: 10px;
    border: 2px solid rgb(228, 228, 228);
    transition: none;
  }
  .form-input:focus-visible {
    background-color: lightyellow;
    outline: 2px solid rgb(89, 0, 255, 0.7);
    border: none;
    margin-bottom: 3px;
    margin-left: 12px;
    margin-top: -8px;
    border-radius: 12px;
  }
  .form-select {
    padding: 7px;
    max-width: 200px;
    border: 2px solid rgb(228, 228, 228);
    transition: 0.2s linear;
    margin-left: 10px;
    margin-top: -9px;
  }
}
/* Desktop */
@media only screen and (min-width: 720px) {
}

/* Tooltip container */
.tooltip {
  position: relative;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  min-width: 120px;
  width: 240px;
  max-width: max-content;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  /* margin-left: -130px; Use half of the width (120/2 = 60), to center the tooltip */
  transition: all 0.15s ease-in-out;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
