/* *** HOME *** */

/* HOME CATEGORY */
#home-category-backdrop {
  background-color: rgb(20, 20, 20);
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.home-category-wrapper {
  margin: auto;
  width: 640px;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.home-subject-tag {
  background-color: white;
  width: fit-content;
  padding: 0px 1.2em;
  min-width: 50px;
  z-index: 2;
  margin: 10px 7px;
  border-radius: 2em;
  font-family: HK Grotesk;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.home-subject-tag:hover {
  background-color: aquamarine;
}

/* HERO Mobile */
#home-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 20px;
  padding: 30px 0;
}
#hero-h1 {
  color: #9b0dad;
  font-size: 4.5rem;
  letter-spacing: -1.96px;
  font-size: 72px;
}
#hero-h3 {
  font-weight: normal;
  font-size: 1.24em;
  line-height: 145%;
  color: black;
}
.hero-div {
  max-width: 85%;
}
/* Tablet and Desktop */
@media only screen and (min-width: 540px) {
  #home-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    height: 200px;
    padding: 45px;
    margin: auto;
    margin-top: 5px;
  }
  .hero-div {
    max-width: 60%;
    margin: 25px;
  }
}
