.external-page-hero {
  max-width: 680px;
  margin: auto;
  padding: 10% 0 20px 0;
  text-align: left;
  display: flex;
}
#external-page-right-hero {
  padding-left: 40px;
  display: block;
  width: 100%;
}
#ext-pg-right-title {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.7em;
}
.ext-pg-btns-div {
  display: flex;
  gap: 20px;
}
.ext-pg-btns {
  font-family: HK Grotesk;
  font-size: 1.05em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.page-join-btn {
  font-weight: bold;
  background: #FFF6FD;
  box-shadow: 0px 0px 4px rgba(200, 109, 255, 0.54);
  padding: 8px 12px;
}
.page-join-btn:hover {
  background: #e8e2ff;
  box-shadow: 0px 0px 4px rgba(244, 225, 255, 0.54);
}
.suggest-feedback-btn {
  background: #F6F4FF;
  box-shadow: 0px 0px 4px rgba(200, 109, 255, 0.54);
  padding: 8px 12px;
}
.suggest-feedback-btn:hover {
  background: #ffe2fa;
  box-shadow: 0px 0px 4px rgba(244, 225, 255, 0.54);
}
.leftalign-entries-div {
  text-align: left;
  max-width: 720px;
  margin: auto;
}
.entries-div {
  padding: 0 0 20px 0;
  margin-top: -10px;
}
.each-entry-div {
  padding: 7px 12px;
  margin: 10px auto;
  border: 2px solid #8C56FF;
  border-radius: 3px;
}
.entry-text {
  text-align: left;
  padding: 20px;
}
.entry-bottom-div {
  display: flex;
  padding: 5px 20px 12px 20px;
  gap: 10px;
  font-size: 0.9em;
}
.no-entries-div {
  padding: 20px 0 70px;
  font-size: 1.2em;
}

/* .current-pathers-div,
.current-completed-div {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 260px;
}
.page-join-btn,
.current-pathers-title,
.current-completed-title,
.current-pathers-count,
.current-completed-count {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
}
.page-join-btn {
  color: #ffffff;
  font-size: 1.05em;
  text-shadow: 0px 0px 4px rgba(255, 231, 10, 0.35);
  background: linear-gradient(
    113.05deg,
    #977dff 38.02%,
    rgba(18, 3, 33, 0.91) 175.66%
  );
  box-shadow: 0px 0px 4px rgba(200, 109, 255, 0.54);
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.page-join-btn:hover {
  background: linear-gradient(
    113.05deg,
    #c27dff 38.02%,
    rgba(5, 8, 60, 0.91) 175.66%
  );
}

.current-pathers-div {
  border: 1px solid #cec9ff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}
.current-pathers-title {
  color: #9e53fc;
}
.current-pathers-count {
  color: #630a9a;
  text-align: right;
}
.current-completed-div {
  background: linear-gradient(
    180deg,
    #191919 0%,
    rgba(18, 3, 33, 0.91) 118.75%
  );
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.current-completed-title {
  color: #f3eef6;
  text-shadow: 0px 0px 4px rgba(250, 192, 255, 0.36);
}
.current-completed-count {
  color: #fdffea;
  text-shadow: 0px 0px 4px rgba(255, 253, 207, 0.42);
} */