:root {
  --theme: #850595;
  --theme-dark: #690477;
  --bg-grad: radial-gradient(
    circle,
    rgb(235, 248, 255) 0%,
    rgb(239, 236, 255) 100%
  );
}
/* GENERAL STYLES */
body {
  font-family: sans-serif;
  text-align: center;
  background: var(--bg-grad);
}
.wrapper {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
}
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}
.theme-btn {
  margin: 15px;
  padding: 15px;
  font-size: 1.14em;
  background-color: white;
  border: 1px solid var(--theme-dark);
  border-radius: 5px;
  transition: 0.24s;
}
.theme-btn:hover {
  background-color: rgb(255, 230, 242);
  cursor: pointer;
}
/* Note: Begin with mobile styles > tablet > desktop */
/* HERO STYLES */
#home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  height: 200px;
  padding: 45px;
  margin: auto;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 5%;
}
#hero-h1 {
  color: #850595;
  font-family: HK Grotesk;
  font-weight: bold;
  font-size: 4.5rem;
  letter-spacing: -1.96px;
}
#hero-h3 {
  font-family: HK Grotesk;
  font-weight: normal;
  font-size: 1.24em;
  line-height: 145%;
  color: black;
}
.hero-div {
  max-width: 60%;
  margin: 25px;
}
/* HOME NAV STYLES */
#home-main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-main-btn-div {
  margin: 10px;
}
.home-main-btn {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 4%;
  background-color: white;
  padding: 0 20px 10px 20px;
  align-items: center;
  transition: 0.1s;
}
.home-main-btn:hover {
  background-color: rgba(64, 166, 255, 0.26);
}
.home-main-btn:active {
  background-color: rgba(64, 166, 255, 0.418);
}
.h2-theme {
  font-family: HK Grotesk;
  font-weight: bold;
  font-size: 3em;
}
h3 {
  color: purple;
}
.home-main-btn-h3 {
  font-size: 1.2em;
}
.home-main-img {
  height: 200px;
  border-radius: 7%;
}
/* FORMS */
.form-small-input-div {
  display: flex;
  flex-direction: column;
}
.create-form {
  margin: 40px;
  padding: 20px;
  border: 1px solid rgb(204, 204, 204);
  align-content: center;
}
input {
  padding: 7px;
  margin: 5px;
  min-width: 200px;
  max-width: 400px;
  border: 1px solid rgb(228, 228, 228);
}
*:focus {
  background-color: rgb(253, 247, 255);
}
textarea {
  padding: 2px;
  margin: 15px;
  border: 1px solid rgb(228, 228, 228);
}
