:root {
  --theme: #850595;
  --theme-dark: #690477;
  --bg-grad: radial-gradient(
    circle,
    rgb(235, 248, 255) 0%,
    rgb(239, 236, 255) 100%
  );
}
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}
/* GENERAL STYLES */
body {
  font-family: sans-serif;
  text-align: center;
  background: var(--bg-grad);
}
p {
  line-height: 1.374em;
}
h1,
h2,
h3 {
  color: black;
  font-family: HK Grotesk;
}
h3 {
  color: var(--theme);
}
.wrapper {
  margin: auto;
  padding-right: 5px;
  max-width: 1200px;
  min-height: 100vh;
}
.theme-h2 {
  font-weight: bold;
  font-size: 3em;
}
.theme-h3 {
  font-size: 1.47em;
}
.theme-btn {
  margin: 15px 10px 15px 10px;
  padding: 15px;
  font-size: 1.14em;
  background-color: white;
  border: 1px solid var(--theme-dark);
  border-radius: 5px;
  transition: 0.24s;
}
.theme-btn:hover {
  background-color: rgb(255, 230, 242);
  cursor: pointer;
}
.centered-p {
  max-width: 680px;
  margin: auto;
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
}
/* *** HOME *** */
/* HERO */
/* Mobile */
#home-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 20px;
  padding: 30px 0;
}
#hero-h1 {
  color: #9b0dad;
  font-size: 4.5rem;
  letter-spacing: -1.96px;
  font-size: 72px;
  /* background: -webkit-linear-gradient(#850595, rgb(74, 167, 71));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
#hero-h3 {
  font-weight: normal;
  font-size: 1.24em;
  line-height: 145%;
  color: black;
}
.hero-div {
  max-width: 85%;
}
/* Tablet and Desktop */
@media only screen and (min-width: 540px) {
  #home-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    height: 200px;
    padding: 45px;
    margin: auto;
    margin-top: 5px;
  }
  .hero-div {
    max-width: 60%;
    margin: 25px;
  }
}

/* HOME NAV STYLES */
/* Mobile */
#home-main-nav {
  display: flex;
  flex-direction: column;
}
.home-main-btn-div {
  margin-top: 5px;
}
.home-main-btn {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 4%;
  background-color: white;
  padding: 0 20px 10px 20px;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}
.home-main-btn:hover {
  background-color: rgba(64, 166, 255, 0.26);
}
.home-main-btn:active {
  background-color: rgba(64, 166, 255, 0.418);
}
.home-main-btn-h3 {
  font-size: 1.2em;
}
.home-main-img {
  height: 100px;
  border-radius: 7%;
  margin: 10px 0 0 35px;
}
/* Tablet and Desktop */
@media only screen and (min-width: 480px) {
  #home-main-nav {
    flex-direction: row;
    justify-content: center;
  }
  .home-main-btn-div {
    margin: 10px;
  }
  .home-main-btn {
    flex-direction: column;
    padding: 0 20px 10px 20px;
    align-items: center;
    transition: 0.1s;
  }
  .home-main-img {
    height: 200px;
    border-radius: 7%;
    margin: auto;
  }
}

/* FORMS */
.form-small-input-div {
  display: flex;
  flex-direction: column;
}
.create-form {
  margin: 40px;
  padding: 20px;
  border: 1px solid rgb(204, 204, 204);
  align-content: center;
}
input {
  padding: 7px;
  margin: 5px;
  min-width: 200px;
  max-width: 400px;
  border: 1px solid rgb(228, 228, 228);
}
*:focus {
  background-color: rgb(253, 247, 255);
}
textarea {
  padding: 2px;
  margin: 15px;
  border: 1px solid rgb(228, 228, 228);
  min-width: 70%;
}
