/* NAVBAR POSITIONING */
#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0;
  background-color: white;
  color: rgb(39, 0, 110);
  padding: 10px 25px;
}
.nav-item {
  margin: 0 5px;
}
a#nav-logo {
  display: none;
}
.nav-link {
  font-size: 1em;
  font-family: HK Grotesk;
  font-weight: bold;
  color: black;
  align-items: center;
  display: flex;
  padding: 5px 0px 5px 5px;
  border: 2px solid white;
}
.nav-right {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}
.sign-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
i {
  cursor: pointer;
}
/* Tablet */
@media only screen and (min-width: 480px) {
  a#nav-logo {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
  }
}