
.add-entry-btn {
	background-color: white;
	border-radius: 10px;
	border: 2px solid rgba(162, 35, 157, 1);
	font-family: 'HK GROTESK';
	font-size: 1.1em;
	padding: 5px 12px;
	font-weight: bold;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}         
.add-entry-btn:hover {
	background-color: #F8E3FF;
}
.cancel-entry-btn {
	background-color: white;
	border-radius: 10px;
	border: 2px solid rgba(162, 35, 157, 1);
	font-family: 'HK GROTESK';
	font-size: 1.1em;
	padding: 5px 12px;
	font-weight: bold;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}
.cancel-entry-btn:hover {
	background-color: #F8E3FF;
}
.create-entry-textfield {
	width: 100%;
	height: 100px;
	border: 1px dashed #9361FF;
	border-radius: 10px;
	padding: 10px;
	font-family: 'HK GROTESK';
	font-size: 1.1em;
	font-weight: bold;
	resize: none;
	margin-bottom: 20px;
}
.create-entry-type-div {
	display: flex;
	gap: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}